<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">

      <h1 class="rk-logo">
        <a [routerLink]="['home']" >{{_pageService.info.title}}</a>
      </h1>

      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item" routerLinkActive="active" >
            <a [routerLink]="['home']"  class="rk-menu__link">Home</a>
          </li>
          <li class=" rk-menu__item" routerLinkActive="active">
            <a [routerLink]="['about']"   class="rk-menu__link">My Story</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active">
            <a [routerLink]="['blog']"   class="rk-menu__link">Blog</a>
          </li>
          <li class="rk-menu__item" routerLinkActive="active">
            <a [routerLink]="['whatido']" class="rk-menu__link">What Do I Know</a>
            <nav class="rk-menu__sub">
              <ul class="rk-container">
                <li class="rk-menu__item" routerLinkActive="active">
                  <a [routerLink]="['web-exp']" class="rk-menu__link">Web Development </a>
                </li>
                <li class="rk-menu__item" routerLinkActive="active">
                  <a [routerLink]="['design']"  class="rk-menu__link">Design </a>
                </li>
              </ul>
            </nav>
          </li>
          <li class="rk-menu__item" routerLinkActive="active">
            <a [routerLink]="['contact']"  class="rk-menu__link">Contact me</a>
          </li>
        </ul>

        <div class="rk-search">
          <input (keyup.enter)="buscarProducto( txtBuscar.value)"
          type="text" 
          placeholder="Search" 
          id="urku-search" 
          class="rk-search-field"
          #txtBuscar>
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>

      </nav>
    </div>
  </header>