
    
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div align="center" *ngIf="productoService.cargando"> 
        <div class="transition">
          <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="12" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                <feBlend in="SourceGraphic" in2="goo" />
              </filter>
            </defs>
          </svg>
        </div>
      </div>
      
      <div *ngIf="!productoService.cargando"
      class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        
        <a *ngFor="let producto of productoService.productos" 
        [routerLink]="['/item', producto.cod]" class="animated fadeIn rk-item ae-masonry__item">
          <img src="assets/productos/{{producto.url}}.jpg" alt="">
          <div class="item-meta">
            <h2>{{producto.titulo }}</h2>
            <p>{{producto.categoria}}</p>
          </div>
        </a>
       
      </div>
    </section>
