<div class="rk-portfolio__items">
    <a routerLink='/web-exp'   class="rk-item rk-item--flex item-2 rk-size-6  rk-portrait ">
        <div class="item-meta">
          <h2>Pickled Tousled</h2>
          <p>Art Direction</p>
        </div>
    </a>
    
    <a routerLink='/design'   class="rk-item rk-item--flex item-3 rk-size-6 rk-tosize-4 rk-portrait rk-tosquare">
        <div class="item-meta">
            <h2>Waistcoat vegan</h2>
            <p>Graphic Design</p>
        </div>
    </a>

</div>
