<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">

          <li class="rk-menu__item">
            <a [routerLink]="['about']" class="rk-menu__link">My Story</a>
          </li>

          <li class="rk-menu__item">
            <a [routerLink]="['blog']" class="rk-menu__link">Blog</a>
          </li>

          <li class="rk-menu__item">
            <a [routerLink]="['contact']" class="rk-menu__link">Contact</a>
          </li>

        </ul>
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{year}} Jose MARIN </span>All Right Reserved.</p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center">
        <a [href]="_pageService.info.github" target="blank" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#github"></use>
          </svg>
        </a>
        <a [href]="_pageService.info.LinkedIn" target="blank" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#linedin"></use>
          </svg>
        </a>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact "> 
          <span class="ae-u-bold">Email: </span>
          <span class="ae-u-bolder"> 
            <a [href]="'mailto:' + _pageService.info.email " target="blank" class="rk-dark-color ">{{_pageService.info.email}} </a>
          </span>
        </p>

      </div>
    </div>
</footer>